# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Entornos / secretos (NUNCA subir)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
